:root {
  --dark-red: rgb(95, 10, 10);
  --red: rgb(200, 20, 20);
  --text-color-light: rgb(255, 255, 255);
  --text-color-dark: rgb(0, 0, 0);
  --white: #fff;
  --vigtige-info: rgb(250, 193, 51);
  --grøn: rgb(20, 131, 38);
}

html {
  color: var(blueviolet);
}

body {
  background-color: rgba(224, 131, 1, 0.733);
}
/* Jeg aligner alle mine paragrafer i index*, og giver dem en forfærdelig farve */
p {
  height: 20px;
  width: 37%;
  background-color: rgb(236, 132, 4);
  text-align: justify;
}

ol {
  text-align: center;
}
/* Jeg har forsøgt at ligge både lister og deres punktering ind mod midten, men det fungere ikke rigtigt */
li {
  text-align: center;
}
/* Jeg ligger alle billeder ind i midten og angiver størrelse  */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
/*Ligger overskift to ind i midten  */
h2 {
  text-align: center;
}


/* Jeg forsøgte at lave et sidepanel men min hjemmeside er noget værre rod, jeg har slettet det inde i index filen, men jeg lod det her stå alligevel*/
aside {
  width: 30%;
  padding-left: 100px;
  margin-left: 60px;
  float: right;
  background-color: rgb(215, 164, 164);
}
body {
  color: var(--text-color-dark);
  margin: 0;
}
/* Her "styler" jeg overskrift h1, angiver størrelser*/
h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 0.15px;
  text-align: center;
}
